/* 这里写全局样式 */
* {
    margin: 0;
    padding: 0;
    /* font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif; */
    font-family: "微软雅黑";
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

li {
    list-style: none;
}
/* 修改NProgress进度条的颜色 */
#nprogress .bar {
    background: rgb(3, 190, 190) !important;
    height: 3px !important;
}
